.button {
  font-family: @font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @second-text-color;
  text-transform: uppercase;

  background-color: white;
  border: 2px solid @button-border-color;
}
