.copyright {
  display: flex;
  justify-content: space-between;
  width: 185px;
  margin: 0 auto;

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-family: @font-family;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: @main-text-color;
}

.copyright__link {
  display: block;
  // width: 27px;
  // height: 34px;

  &:hover,
  &:focus {
    .copyright__logo {
      path {
        fill: #46c1ae;
      }
    }
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;

  path {
    fill: #63d1bb;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    margin: 0;
    margin-top: 12px;
  }
}
