.filter {
  font-family: @font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: @main-text-color;
}

.filter__item {
  display: flex;
  border: none;

  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.filter__title {
  font-family: @font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @green-text-color;

  padding-top: 11px;
  margin-left: -3px;
  margin-bottom: 34px;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;

  width: 200px;
  margin-left: 63px;

  &--checkbox {
    .filter__option {
      margin-bottom: 43px;
    }
  }

  &--text {
    margin-left: 0;
    margin-top: -5px;
  }
}

.type-text {
  margin-top: -21px;
}

.type-tel {
  margin-top: -12px;
  margin-bottom: 39px;

  .filter__title {
    margin-bottom: 23px;
  }
}

.type-email {
  .filter__title {
    margin-bottom: 23px;
  }
}

.textarea {
  margin-top: 37px;
  margin-bottom: 13px;

  .filter__title {
    margin-bottom: 25px;
  }
}

.filter__option {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.input-type-text {
  margin-top: 18px;
  margin-bottom: 13px;
  margin-left: -3px;
}

.input-type-email {
  margin-left: -5px;
}

.filter__input::placeholder {
  font-family: @font-family;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: lighten(@second-text-color, 50%);
}

.filter-form__annotation {
  font-family: @font-family;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: @second-text-color;
}

.input-radio,
.input-checkbox {
  display: none;
}

.input-type-textarea {
  width: 252px;
  height: 135px;
  border: 2px solid @filter-border-color;

  &::placeholder {
    padding-top: 12px;
    padding-left: 12px;
  }
}

.filter-form__button {
  margin-top: 27px;
  margin-bottom: 56px;

  letter-spacing: 0;
}

@media (min-width: @tablet-width) {
  .filter {
    font-size: 19px;
  }

  .filter__checkbox,
  .filter__type-tel,
  .filter__type-email {
    background-color: @bg-gray;
  }

  .filter__title {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 25%;
    height: 52px;
  }

  .filter__list {
    width: 510px;
    margin-left: 247px;

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 500px;
    }

    &--radio {
      margin-top: -55px;
    }
  }

  .filter__item {
    margin-bottom: 3px;
    box-sizing: border-box;
    padding-left: 50px;
  }

  .filter__radio {
    padding-top: 20px;
  }

  .filter__checkbox {
    padding-top: 58px;
    padding-bottom: 13px;

    .filter__option {
      margin-bottom: 57px;
      margin-right: -12px;
    }
  }

  .filter__option {
    width: 50%;
    margin: 0;
    margin-bottom: 58px;
  }
}
