.hit {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
}

.hit__mark {
  font-family: @font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @green-text-color;
  text-transform: uppercase;
}

.hit__description {
  font-family: @font-family;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @second-text-color;
}

.hit__parameter {
  font-family: @font-family;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @second-text-color;
}

.hit__price {
  font-family: @font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @second-text-color;
}

@media (min-width: @tablet-width) {
  .hit {
    flex-direction: row;
    flex-wrap: wrap;
    width: 668px;
  }

  .hit__title-wrapper {
    display: flex;
    width: 668px;
  }

  .hit__wrapper {
    width: 324px;
  }

  .hit__order-wrapper {
    margin-top: -80px;
  }
}

@media (min-width: @desktop-width) {
  .hit {
    width: 1050px;
  }

  .hit__title-wrapper {
    width: 1050px;
  }

  .hit__mark {
    order: -1;
  }

  .hit__wrapper {
    width: 360px;
    margin-left: 160px;
  }

  .hit__order-wrapper {
    display: flex;
    flex-direction: column;
    width: 360px;
  }

  .hit-price {
    text-align: center;
  }

  .button--buy {
    margin: auto;
  }

  .hit__image {
    width: 525px;
    height: 635px;
  }
}
