.main-nav__list {
  list-style: none;
}

.main-nav__link {
  display: block;
  text-decoration: none;
  color: black;

  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
