.page-footer {
  background-color: @bg-gray;
}

.page-footer__logo {
  display: none;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
}

.page-footer__social {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 2px;
    width: 260px;
    height: 1px;
    background-color: #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__logo {
    display: block;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    padding-top: 50px;
  }

  .page-footer__social {
    &::before {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
