.product__image-wrapper {
  margin: 0;
  padding: 0;
}

.product__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__title {
  font-family: @font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @main-text-color;

  padding-left: 27px;
  padding-top: 4px;
  margin-bottom: 4px;

  width: 100%;
}

.product__parameter {
  font-family: @font-family;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: @second-text-color;

  margin: 0;
  margin-bottom: 41px;
  padding-left: 27px;

  width: 100%;
}

.product__price {
  position: relative;

  font-family: @font-family;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: @main-text-color;

  margin: 0;
  padding-left: 27px;
  margin-bottom: 28px;
}

.product__info-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.product__link-to-cart {
  width: 20px;
  height: 19px;

  margin-right: 26px;
}

@media (min-width: @tablet-width) {
  .product__image-wrapper {
    display: flex;
    align-items: center;
  }

  .product__image {
    display: block;
    width: 334px;
    height: 332px;
  }

  .product__wrapper {
    display: flex;
    flex-direction: column;
    width: 314px;
    height: 332px;
  }

  .product__title {
    font-size: 20px;
    padding-top: 6px;
  }

  .product__parameter {
    font-size: 15px;
    margin-bottom: auto;
  }

  .product__price {
    height: 23px;
    font-size: 17px;
    padding-left: 30px;
  }

  .product__link-to-cart {
    margin-right: 13px;
  }
}

@media (min-width: @desktop-width) {
  .product__image {
    height: 461px;
  }

  .product__wrapper {
    height: 196px;
    justify-content: space-between;
  }

  .product__parameter {
    margin-bottom: auto;
  }

  .product__price {
    padding-left: 26px;
  }

  .product__link-to-cart {
    margin-right: 32px;
  }
}
