.reviews__text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
  font-size:  15px;
  line-height: 30px;
  color: black;
}

.reviews__author-name {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size:  11px;
  line-height: 30px;
  color: black;
}

.reviews__author-nickname {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
  font-size:  15px;
  line-height: 30px;
  color: black;
}

.reviews__write {
  text-decoration: none;
  color: black;
}
