.user-nav {
  position: relative;
}

.user-list__item {
  border-bottom: 1px solid @border-color;
}

.user-list__icon {
  position: absolute;

  top: 30px;
  left: 31px;

  opacity: 0.3;
}

@media (max-width: @mobile-width-only) {
  .user-nav--closed {
    display: none;
  }

  .user-nav--opened {
    display: block;
  }

  .user-nav--nojs {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .user-nav {
    width: 397px;
    order: -1;
  }

  .user-list {
    border-bottom: 1px solid @border-color;
  }

  .user-list__item {
    border-left: 1px solid @border-color;
    border-bottom: none;

    .main-nav__link {
      padding-top: 31px;
      padding-bottom: 33px;
    }
  }

  .user-list__search {
    font-size: 0;
    padding: 0;
    width: 81px;
  }

  .user-list__cart {
    padding-left: 82px;
  }

  .user-list__icon {
    top: 36px;
    left: 31px;
  }
}

@media (min-width: @desktop-width) {
  .user-nav {
    width: 400px;
    order: 0;
  }
}
