.variety__list {
  list-style: none;
}

.variety__link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: white;
}

.variety__link--decor {
  background-color: #63d1bb;
}

.variety__link--toys {
  background-color: #56c3b2;
}
