.variety__list {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin: 0;
  padding: 0;
  list-style: none;
}

.variety__link {
  display: block;
  position: relative;

  padding-left: 29px;
  padding-top: 25px;
  padding-bottom: 30px;

  font-family: @font-family;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: white;

  &:hover {
    transform: translateY(-5px);
    transition-duration: 0.3s;
  }

  &--decor {
    background-color: @bg-decor;

    &:hover,
    &:focus,
    &:active {
      background-color: #59d5bc;
    }
  }

  &--toys {
    background-color: @bg-toys;

    &:hover,
    &:focus,
    &:active {
      background-color: #46c1ae;
    }
  }

  &:hover .variety__icon,
  &:focus .variety__icon {
    opacity: 0.7;
  }

  &:active {
    color: fade(white, 30%);
  }

  &:active .variety__icon {
    opacity: 0.3;
  }
}

.variety__icon {
  position: absolute;
  top: 20%;
  right: 37px;
  opacity: 0.5;
  fill: #149080;

  &--toys {
    right: 27px;
  }
}

@media (min-width: @tablet-width) {
  .variety {
    margin-top: -120px;
    margin-bottom: 41px;
  }

  .variety__list {
    flex-direction: row;
    margin: 0 auto;
    width: 668px;
  }

  .variety__item {
    width: 334px;
  }

  .variety__link {
    font-size: 20px;
    line-height: 30px;

    padding-left: 35px;
    padding-top: 28px;
    padding-bottom: 35px;
  }

  .variety__icon {
    top: 26%;

    &--toys {
      right: 35px;
    }
  }
}

@media (min-width: @desktop-width) {
  .variety__list {
    width: 1050px;
  }

  .variety__item {
    width: 525px;
  }
}
