.video {
  width: 258px;
  border: 1px solid @border-color;
}

.video__title {
  font-family: @font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @main-text-color;
}

.video__description {
  font-family: @font-family;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: @second-text-color;
}
