body {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: @font-family;
  background-color: @bg-header;
  background-size: 720px auto;
  min-height: 750px;
}

img {
  max-width: 100%;
  height: auto;
}

svg path {
  fill: inherit;
}

.menu-link {
  display: block;
  position: relative;
  text-decoration: none;
  color: @main-text-color;

  font-family: @font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  padding-top: 26px;
  padding-left: 75px;
  padding-bottom: 28px;

  &:hover,
  &:focus {
    color: #666666;
  }

  &:active {
    color: lighten(@main-text-color, 70%);
  }

  &:hover .user-list__icon,
  &:focus .user-list__icon {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active .user-list__icon {
    opacity: 0.4;
  }
}

@media (min-width: @tablet-width) {
  body {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: 1150px;
  }
}
