//Font
@font-family: "OpenSans", "Arial", sans-serif;
//Display-size
@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;
//Retina
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
//Text-color
@main-text-color: #000000;
@second-text-color: #444444;
@green-text-color: #63d1bb;
@white-text-color: #ffffff;
//Border-color
@border-color: #ededed;
@button-border-color: #444444;
@filter-border-color: #444444;
//Background-color
@bg-header: #ffffff;
@bg-decor: #63d1bb;
@bg-toys: #56c3b2;
@bg-gray: #ededed;
@bg-btn-hover: #444444;
